<!-- sinkhole/templates/sinkhole/incident_list.html -->
{% extends 'base.html' %}
{% block content %}
<h1>싱크홀 사고 목록</h1>
<a href="{% url 'incident_create' %}">사고 등록</a>
<table>
  <tr><th>ID</th><th>발생일시</th><th>위치</th><th>깊이(m)</th><th>액션</th></tr>
  {% for inc in incidents %}
  <tr>
    <td>{{ inc.id }}</td>
    <td>{{ inc.date }}</td>
    <td>{{ inc.location }}</td>
    <td>{{ inc.depth }}</td>
    <td>
      <a href="{% url 'incident_update' inc.pk %}">수정</a>
      <form action="{% url 'incident_delete' inc.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">삭제</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
