<ul id="available-staff">
  {% for p in staff_list %}
    <li data-id="{{p.id}}">{{p.name}}</li>
  {% endfor %}
</ul>
<ul id="assigned-staff">
  {% for ip in incident.incidentpersonnel_set.all %}
    <li data-id="{{ip.person.id}}">{{ip.person.name}}</li>
  {% endfor %}
</ul>
<script src="{% static 'sortable/Sortable.min.js' %}"></script>
<script>
new Sortable(assigned-staff, {
  group: 'staff',
  onAdd: evt => {
    fetch("{% url 'resources:assign_person' incident.id %}", {
      method:'POST',
      headers:{'X-CSRFToken': '{{ csrf_token }}'},
      body: JSON.stringify({ person_id:evt.item.dataset.id })
    });
  }
});
new Sortable(available-staff, { group:'staff' });
</script>
